@using ContactManagement.Models
@model ContactModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(modelItem => modelItem.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(modelItem => modelItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(modelItem => modelItem.Address)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>