@using ContactManagement.Models
@model ContactModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "Edit", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.HiddenFor(d => d.Id)
            @Html.ValidationMessage("error", new { @class = "text-danger" })

            @Html.LabelFor(d => d.Name)
            @Html.TextBoxFor(d => d.Name, new { @class = "form-control" })
            @Html.ValidationMessage("Name", new { @class = "text-danger" })

            @Html.LabelFor(d => d.Email)    
            @Html.TextBoxFor(d => d.Email, new { @class = "form-control" })
            @Html.ValidationMessage("Email", new { @class = "text-danger" })

            @Html.LabelFor(d => d.Contact)
            @Html.TextBoxFor(d => d.Contact, new { @class = "form-control" })
            @Html.ValidationMessage("Contact", new { @class = "text-danger" })

            @Html.LabelFor(d => d.Address)
            @Html.TextBoxFor(d => d.Address, new { @class = "form-control" })
            @Html.ValidationMessage("Address", new { @class = "text-danger" })

            <div style="text-align:right">
                <input type="submit" class="btn btn-success" value="Update" />
                <a asp-action="Index">Back to List</a>
            </div>
        }
    </div>
</div>